
<div *ngIf="task">    
    <!-- <div style="text-align:left"> -->
        <h2>Task Details: {{task.title}}</h2>
        <div>
            <span>ID: </span>{{task.id}}
        </div>
        <div><label>
                <b>Title:</b> <input [(ngModel)]="task.title" placeholder="Title" />
        </label></div>
        <div><span>Is Complete: </span>{{task.complete}}</div>
        <div><label>
                <b>Description:</b> <input [(ngModel)]="task.description" placeholder="Description" />
        </label></div>
        <div><span>Created: </span>{{task.date_created}}</div>
        <div><span>Start By: </span>{{task.date_start_by}}</div>
        <div><span>Due Date: </span>{{task.date_due}}</div>
    <!-- </div>       -->
</div>