<h2>My tasks</h2>
<div>
    <label>Task name:
      <input #taskName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(taskName.value); taskName.value=''">
      add
    </button>
  </div>

<ul class="task-list">
  <li class="task-item" *ngFor="let task of tasks">
    <a routerLink="/task-detail/{{task._id}}">
      <span class="badgeL">{{task.complete}}</span>
      <span class="title">{{task.title}}</span>
      <span class="badgeR">{{task.date_due}}</span>
    </a>
  </li>
</ul>